.app-input--default {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
.app-input--default input,
.app-input--default > div {
  height: 64px;
  width: 100%;
  padding: var(--padding-input);
  border: 1px solid var(--color-lite-gray);
  color: var(--color-text);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-lite);
}
.app-input--default span {
  position: absolute;
  left: 20px;
  top: 50%;
  line-height: 0;
  pointer-events: none;
  transition: all 0.15s ease;
  font-weight: 300;
}

/* Если в фокусе */
.app-input--default input:focus:not([readonly]) ~ span,
.app-input--default input:not(:focus):valid ~ span,
.app-input--default .app-selected ~ span {
  top: 25%;
}
/* Если не в фокусе но есть текст */
.app-input--default input:focus,
.app-input--default input:not(:focus):valid {
  font-size: 1.2rem;
  font-weight: normal;
}
.app-input--default input:focus,
.app-input--default input:not(:focus):valid {
  padding-top: calc(var(--padding-input) + 20px);
}
.app-input--default input:not(:focus).app-datepicker,
.app-input--default input:focus.app-datepicker {
  padding-top: var(--padding-input);
}
.app-input--default .app-selected {
  padding-top: calc(var(--padding-input) + 15px);
}
.app-input--default .app-select__input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.app-input--default .app-select__input .app-select__input_items {
  width: 100%;
  overflow-x: auto;
  display: flex;
  gap: 0.5em;
}
.app-input--default .app-select__input .app-select__input_items::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}
.app-input--default .app-select__input .app-select__input_items {
  scrollbar-width: none;
  outline: none;
}
.app-input--default .app-select__input .app-select__input_item {
  line-height: normal;
  font-weight: 500;
  font-size: 1.2rem;
}
.app-input--default .app-select__icon {
  cursor: pointer;
}

.app-input--default ~ .app-select__menu {
  background-color: var(--color-lite);
  border-radius: var(--border-radius-sm);
  margin-top: 1px;

  box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.27);
}
.app-input--default ~ .app-select__menu .app-select__menu_item {
  padding: var(--padding-input);
  cursor: pointer;
}
.app-input--default ~ .app-select__menu .app-select__menu_item--active,
.app-input--default ~ .app-select__menu .app-select__menu_item:hover {
  background-color: var(--color-accent-light);
}
.app-input--default ~ .app-select__menu .app-select__menu_item--active:first-child,
.app-input--default ~ .app-select__menu .app-select__menu_item:first-child:hover {
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
}
.app-input--default ~ .app-select__menu .app-select__menu_item--active:last-child,
.app-input--default ~ .app-select__menu .app-select__menu_item:last-child:hover {
  border-bottom-left-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}
