/* Inputs */

.app-input--default {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-lite);
  color: var(--color-text);
  border: 2px solid var(--color-lite-gray);
}
.app-input--default input,
.app-input--default .app-select__input {
  /* font-size: 0.9em; */
  height: 64px;
  width: 100%;
  padding: var(--padding-input);
  color: inherit;
  background-color: transparent;
  border: none;
  font-weight: 500;
}
.app-input--default span {
  position: absolute;
  left: 20px;
  top: 50%;
  line-height: 0;
  pointer-events: none;
  transition: all 0.15s ease;
  font-weight: 300;
}

/* Если в фокусе */
.app-input--default input:focus:not([readonly]) ~ span,
.app-input--default input:not(:focus):valid ~ span,
.app-input--default .app-selected ~ span {
  top: 25%;
  font-size: 0.9rem;
}
/* Если не в фокусе но есть текст */
.app-input--default input:focus,
.app-input--default input:not(:focus):valid {
  font-size: 1.2rem;
}
/* Если в фокусе и если не в фокусе но есть текст */
.app-input--default input:focus,
.app-input--default input:not(:focus):valid {
  padding-top: calc(var(--padding-input) + 20px);
}
/* Отменить паддинг для выбора даты и номера */
.app-input--default input:not(:focus).app-datepicker__input,
.app-input--default input:not(:focus).app-number-input__input,
.app-input--default input:focus.app-datepicker__input,
.app-input--default input:focus.app-number-input__input {
  padding-top: var(--padding-input);
}
/* Убрать стрелки у инпута number */
.app-input--default input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.app-input--default input[type='number']::-webkit-outer-spin-button,
.app-input--default input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Стили для select */
.app-select {
  position: relative;
}

.app-input--default .app-selected {
  padding-top: calc(var(--padding-input) + 15px);
}
.app-input--default .app-select__input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.app-input--default .app-select__input .app-select__input_items {
  width: 100%;
  overflow-x: auto;
  display: flex;
  gap: 0.5em;
}
.app-input--default .app-select__input .app-select__input_items::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}
.app-input--default .app-select__input .app-select__input_items {
  scrollbar-width: none;
  outline: none;
}
.app-input--default .app-select__input .app-select__input_item {
  line-height: normal;
  font-weight: 500;
  font-size: 1.2rem;
}
.app-input--default .app-select__icon {
  cursor: pointer;
}

.app-input--default ~ .app-select__menu {
  background-color: var(--color-lite);
  border-radius: var(--border-radius-sm);
  margin-top: 1px;
  position: absolute;
  width: 100%;
  z-index: var(--layer-menu);

  box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 5px 8px 5px -4px rgba(0, 0, 0, 0.27);
}
.app-input--default ~ .app-select__menu .app-select__menu_item {
  padding: var(--padding-input);
  cursor: pointer;
}
.app-input--default ~ .app-select__menu .app-select__menu_item--active,
.app-input--default ~ .app-select__menu .app-select__menu_item:hover {
  background-color: var(--color-accent-light);
}
.app-input--default ~ .app-select__menu .app-select__menu_item--active:first-child,
.app-input--default ~ .app-select__menu .app-select__menu_item:first-child:hover {
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
}
.app-input--default ~ .app-select__menu .app-select__menu_item--active:last-child,
.app-input--default ~ .app-select__menu .app-select__menu_item:last-child:hover {
  border-bottom-left-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}

/* Buttons */

.app-btn {
  text-align: center;
  transition: all 0.15s ease;
}

.app-btn--primary {
  background-color: var(--color-accent);
  color: var(--color-lite);
  font-weight: 500;
}
.app-btn--primary:active {
  background-color: var(--color-accent-active);
}
.app-btn--medium {
  padding: 0.5rem;
  min-width: 160px;
  height: 38px;
  font-size: 0.9em;
}
.app-btn--rounded {
  border-radius: 500px;
}

/* Features */

/* Выбор даты и площади */

.app-area-range,
.app-date-range {
  width: 100%;
}

.app-area-range__title,
.app-date-range__title {
  display: inline-block;
  padding-bottom: 1rem;
}

.app-area-range__inputs,
.app-date-range__inputs {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.app-date-range .app-date-range__title,
.app-area-range .app-area-range__title {
  font-size: 0.9rem;
}
.app-date-range .app-input--default input.app-datepicker__input,
.app-area-range .app-input--default input.app-number-input__input {
  text-align: end;
  padding-right: 0;
}
.app-date-range .app-input--default,
.app-area-range .app-input--default {
  padding-inline: var(--padding-input);
}

/* Форма резидента */

.app-resident-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-resident-form__title {
  font-weight: 600;
  font-size: 1.5rem;
}

.app-resident-form__actions {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
